.itemDetail{
    display: grid;
    grid-template-columns: 1fr;
}

.itemDetail__data{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    text-align: start;
}

.itemDetail__cardImg{
    margin-bottom: 20px;
}

.itemDetail__priceSet{
    border: 2px solid #ec2328;
    border-radius: 5px;
    max-width: 70%;
    font-size: 1rem;
    padding: 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 20px;
}

@media (min-width: 768px){
    .itemDetail{
        grid-template-columns: 1fr 1fr;
    }

    .itemDetail__cardImg{
        max-width: 70%;
    }
}