.loadingPage{
    background-color: whitesmoke;
    max-width: 1200px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loadingPage__spinner{
    margin: 3rem auto 0;
    width: 200px;
}

.msgContainer{
    margin-top: 10px;
}

.loadingPage__msg{
    width: 0;
    position: relative;
    margin: 0 auto;
    border-right: 2px solid black;
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1s steps(10, end) forwards infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}