
.cartWidget{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fa-cart-shopping{
    color: #565759;
}

.cartWidget__amount{
    background-color: #ec2328;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 10px;
}