.itemListContainer{
    background-color: whitesmoke;
    min-height: 100vh;
    padding: 50px 0;
    max-width: 1200px;
    margin: auto;
}

.border-wrap{
    background: linear-gradient(90deg,lightgrey,var(--blueWater), var(--greenGrass), var(--yellowLightning), var(--brownDragon), var(--brownFight), var(--redFire), var(--roseFairy), var(--purplePsiq), var(--grayMetal), var(--grayDark));
    padding: 0 0 3px 0;
}

.itemListContainer__greeting{
    background-color: whitesmoke;
    text-align: left;
    font-style: italic;
    color: #231f20;
}

@media (min-width: 768px){
    .itemListContainer{
        padding: 50px 50px;
    }
}

@media (min-width: 1024px){
    .itemListContainer{
        padding: 50px 150px;
    }
}