.App{
    text-align: center;
    margin: auto;
}

.hero {
    max-width: 1200px;
}

.App-body__hero{
    display: none;
    position: relative;
    top: 100px;
}

@media (min-width: 768px){
    .App-body__hero{
        display: block;
    }
}