@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,700;1,200&family=Ubuntu:wght@300;400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;

}

li{
    list-style: none;
}

a{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: #ec2328;
}

img{
    width: 100%;
}

button{
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    display: block;
    border: none;
    padding: 10px 20px;
    background-color: #ec2328;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #a4191b;
}

h1,h2,h3,h4{
    font-family: 'Ubuntu', sans-serif;
    color: #231f20;
}