@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,700;1,200&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
}

li{
    list-style: none;
}

a{
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: #ec2328;
}

img{
    width: 100%;
}

button{
    border: none;
    background-color: none;
}

i{
    font-size: 1.5rem;
}

h1,h2,h3,h4{
    color: #231f20;
}

