.itemCount{
    max-width: 70%;
    margin: 0 auto 20px;
    display: flex;
    flex-direction: column;
}

.itemCount__counter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #565759;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 1rem;
}

.itemCount__control{
    background-color: inherit;
    color: #ec2328;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

@media (min-width: 768px){
    .itemCount{
        margin-bottom: unset;
    }
}
